.card {
    max-width: 1440px;
    height: 100vh;
    background: url('../../images/eye1.svg') no-repeat 1200px 100px,
                url('../../images/eye.svg') no-repeat -40px 500px;
    background-size: 296px 158px, 168px 168px;
}